VITE_FIREBASE_API_KEY=AIzaSy...
VITE_FIREBASE_AUTH_DOMAIN=livebed-healthcare.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=livebed-healthcare
VITE_FIREBASE_STORAGE_BUCKET=livebed-healthcare.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=961930352782
VITE_FIREBASE_APP_ID=1:961930352782:web:...
VITE_FIREBASE_DATABASE_URL=https://livebed-healthcare-default-rtdb.firebaseio.com

VITE_API_URL=http://localhost:5000/api
